body{
    background-color: blue;
}

header{
    background-color: aquamarine;
}
main{
    background-color: blueviolet;
}

section{
    background-color: bisque;
}

footer{
    background-color: chartreuse;
}